body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 16px;
  min-height: 100vh;
  background-color: #0000000a;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: rgba( black, .5);
}

.box {
  width: max-content;
  margin: auto;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 2px;
  padding: 5px;
}

.color {
  /* background: rgb(238, 202, 202); */
  background: tomato;
}

.btn-add-color {
  padding: 4px;
}

.sheik {
  animation-duration: 400ms;
  animation-name: sheik;
  animation-iteration-count: infinite;
}

 .row div:nth-child(odd).sheik {
  animation-duration: 350ms;
  animation-name: sheikSecond;
  animation-iteration-count: infinite;
}



@keyframes sheik {
  0% {
    transform: rotateZ(0deg);
  }

  10% {
    transform: rotateZ(-1deg);
  }

  20% {
    transform: rotateZ(-1.5deg);
  }

  30% {
    transform: rotateZ(0deg);
  }

  40% {
    transform: rotateZ(-2.5deg);
  }

  50% {
    transform: rotateZ(-3deg);
  }

  60% {
    transform: rotateZ(-3.5deg);
  }

  70% {
    transform: rotateZ(-3deg);
  }

  80% {
    transform: rotateZ(-4.5deg);
  }

  90% {
    transform: rotateZ(-4deg);
  }

  100% {
    transform: rotateZ(-4deg);
  }
}

@keyframes sheikSecond {
  0% {
    transform: rotateZ(0deg);
  }

  10% {
    transform: rotateZ(-1deg);
  }

  20% {
    transform: rotateZ(-1.5deg);
  }

  30% {
    transform: rotateZ(0deg);
  }

  40% {
    transform: rotateZ(-1deg);
  }

  50% {
    transform: rotateZ(-3deg);
  }

  60% {
    transform: rotateZ(-3.5deg);
  }

  70% {
    transform: rotateZ(-3deg);
  }

  80% {
    transform: rotateZ(-4.5deg);
  }

  90% {
    transform: rotateZ(-3deg);
  }

  100% {
    transform: rotateZ(0deg);
  }    
}